<%- include('../../partials/head.ejs',{tittle: 'Welcome dashboard'}) %>

<div class="container card card-body default-height">
   <h1 class="display-1 text-center">welcome to your dashboard</h1>
     
</div>
<%- include('../../partials/footer.ejs') %>
</body>
</html>

